<?xml version="1.0" encoding="UTF-8" ?>
<suite name="厚钱包系统测试套件">
    <test name="登陆接口测试">
        <classes>
            <class name="com.houbank.cases.LoginTest">
                <methods>
                    <include name = "loginRedisTest"/>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>


    </test>
    <listeners>
        <listener class-name="com.houbank.config.ExtentTestNGIReporterListener"/>

    </listeners>
</suite>